<script type="text/x-template" id="answer_editor_input_template">
    <div class="answer-editor">
        <div class="md-form form-sm">
            <label> Текст вопроса </label>
            <input v-model="answer.text" class="form-control form-control-sm" type="text">
        </div>
        <hr>
        <div class="md-form form-sm">
            <input v-model="answer.correct" class="form-control form-control-sm" type="text">
            <label> Правильный ответ </label>
        </div>
    </div>
</script>

<script src="content/tables/table-question/answer-editor/editors/input/input.js"></script>